/* Index / Login Stylesheet */

.container{
    border: 5px solid #eaab00;
    width: 90%;
    text-align: center;
    margin: 1em;
    padding: 0.2em;
}

.option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #eaab00;
    min-height: 4em;
    margin: 0.4em;
    padding: 0.6em;
    background-color: #FFFFFF;
}

.submit-button{
    width: 10%;
    border: 0.01em solid #000000; 
    padding: 0.5em;
    margin: 0.2em;
    background-color: #eaab00;
    cursor: pointer;
    font-weight: bold;
}
.submit-button:hover{
    background-color: #cd9600;
    transition-duration: 0.3s;
}
