/* Food Menu Stylesheet */

.container-row{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container{
    border: 5px solid #eaab00;
    text-align: center;
    margin: 0;
    width: 100%;
    height: fit-content;
}
.cart-area{
    border: 5px solid #eaab00;
    text-align: center;
    margin: 0;
    margin-top: 4em;
    padding: 0.5em;
    width: 22%;
    height: fit-content;
}

.output-types{
    width: 73%; 
}

.option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #eaab00;
    min-height: 4em;
    margin: 0.4em;
    padding: 0.2em;
    background-color: #FFFFFF;
}

.ingredient-toggle{
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    text-decoration: underline;
}

.ingredient-hr{
    width: 40%;
    border: 0.01em solid #eaab00;
}

.button-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 0.5em;
}
.option-button{
    width: 15%;
    border: 0.01em solid #000000; 
    padding: 0.3em;
    margin: 0.2em;
    background-color: #eaab00;
    cursor: pointer;
}
.option-button:hover{
    background-color: #cd9600;
    transition-duration: 0.3s;
}

.checkout-button{
    width: 50%;
    border: 0.01em solid #000000; 
    padding: 0.3em;
    margin: 0.2em;
    background-color: #eaab00;
    cursor: pointer;
}
.checkout-button:hover{
    background-color: #cd9600;
    transition-duration: 0.3s;
}

.clear-button{
    width: 30%;
    border: 0.01em solid #000000; 
    padding: 0.2em;
    margin: 0.2em;
    background-color: #eaab00;
    cursor: pointer;
}
.clear-button:hover{
    background-color: #cd9600;
    transition-duration: 0.3s;
}

.hidden{
    display: none;
}